
.homed{
    display: flex;
    justify-content: center;
    
}
.descripcion{

    margin-left: -150px;
    width: 20cm;

}
.miFoto{


    margin-top: 100px;
    width: 300px;
    margin-left: 175px;
   

}
.hi{
    margin-top: 90px;
    margin-left: 180px;
    display: flex;
    color: rgba(255, 0, 0, 0.668);

}

.title{
    margin-top: 0px;
    margin-left: 180px;
    display: flex;

   
 
}

.subT{
    margin-left: 180px;
}

.logo{
    width: 60px;
    margin-left: 40px;
}



.logo:hover{
    transform: scale(1.5);
    transition: 1s;
}

.logos2{
    display: none;
}

@media (max-width: 991px) {

    .homed{
        display: block;
        justify-content: center;
    }

    .title{
        margin-top: 70px;
        margin-left: 10px;
        display: flex;
    
       
     
    }
    
    .subT{
        margin-left: 10px;
    }
    .logos{
        display: none;
    }

    .logos2{
        display: flex;
    }

    .logo{
        width: 50px;
        margin-left: 35 px;
    }
  
  }
  
  @media (max-width: 480px) {
    .title{
      
      width: 500px;
        justify-content: center;
       margin-left: 100px;
     
    }
    .homed{
        display: block;
        justify-content: center;
        
    }

    
    .subT{
        width: 400px;
        margin-left: 150px;
        text-align: center;
    }
 
    .miFoto{


        margin-top: 100px;
        width: 300px;
        margin-left: 40px;
       
    
    }
    .hi{
        margin-top: 90px;
        margin-left: 180px;
        display: block;
        color: rgba(255, 0, 0, 0.668);
    
    }


}  
