.portfolio{
    margin-top: 150px;
    margin-left: 180px;
}


@media (max-width: 991px) {

    .portfolio{
    margin-left: 0px;
  }
}
  
  @media (max-width: 480px) {
    .portfolio{
        margin-left: 0px;
      }
   
  }