.appDiv{
 
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.929);
}

*{

  
}

html{
  cursor: url("assets/cursor/default32x32.cur"), auto !important;
  background-color: rgba(0, 0, 0, 0.929);
}





